################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackEnd/EnglishCenter/.vs
/BackEnd/EnglishCenter/bin/Debug/net8.0
/BackEnd/EnglishCenter/obj
/.vs
FrontEnd/english-center/.vite/deps/_metadata.json
FrontEnd/english-center/.vite/deps/axios.js
FrontEnd/english-center/.vite/deps/axios.js.map
FrontEnd/english-center/.vite/deps/chunk-3SOFIYQK.js
FrontEnd/english-center/.vite/deps/chunk-3SOFIYQK.js.map
FrontEnd/english-center/.vite/deps/chunk-HKJ2B2AA.js
FrontEnd/english-center/.vite/deps/chunk-HKJ2B2AA.js.map
FrontEnd/english-center/.vite/deps/package.json
FrontEnd/english-center/.vite/deps/react-dom_client.js
FrontEnd/english-center/.vite/deps/react-dom_client.js.map
FrontEnd/english-center/.vite/deps/react.js
FrontEnd/english-center/.vite/deps/react.js.map
FrontEnd/english-center/.vite/deps/chunk-32E4H3EV.js
FrontEnd/english-center/.vite/deps/chunk-32E4H3EV.js.map
FrontEnd/english-center/.vite/deps/chunk-G3PMV62Z.js
FrontEnd/english-center/.vite/deps/chunk-G3PMV62Z.js.map
FrontEnd/english-center/.vite/deps/chunk-TNTPHDQH.js
FrontEnd/english-center/.vite/deps/chunk-TNTPHDQH.js.map
FrontEnd/english-center/.vite/deps/react-router-dom.js
FrontEnd/english-center/.vite/deps/react-router-dom.js.map
/FrontEnd/english-center/.vite/deps
