.container {
    height: 100vh;
    position: relative;
}

.login-wrapper {
    position: absolute;
    z-index: 1;
    background-color: var(--white-color);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    overflow: hidden;
}



.login-containter__title {
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    line-height: normal !important;
}

.login-container__seperate {
    color: var(--text-gray-color);
    font-size: 12px;
}

.seperate-title {
    letter-spacing: 1px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.seperate-title:before,
.seperate-title:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

.seperate-title:before {
    margin-right: 10px
}

.seperate-title:after {
    margin-left: 10px
}

.container__icon{
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 80px;
    object-fit: cover;
}

.login-provider{
    display: flex;
    align-items: center;
    border: solid 1px var(--border-color);
    border-radius: 4px;
    height: 45px;
    color: var(--text-color);
    font-weight: 500;
    box-shadow: 2px 3px 5px #ebebeb;
    margin-top: 10px;
}

.login-provider:hover{
    opacity: 0.9;
    background-color: #f5f5f5;
}

.login-provider__image{
    width: 30px;
    padding: 5px;
    margin: 6px;
}

.login-provider__title{
    text-align: center;
}


.login-button__text{
    position: absolute;
    width: 100%;
    z-index: 2;
    height: 45px;
    line-height: 30px;
    padding: 0 25px;
    outline: none;
    background-color: transparent;
    border: solid 1px var(--border-color);
    border-radius: 4px;
    transition: all 0.2s ease;
}

.login-button__wrapper{
    position: relative;
    height: 45px;
    line-height: 45px;
    overflow: visible;
}

.login-button__label{
    position: absolute;
    top: 0;
    margin: 0 10px;
    padding: 0 10px;
    line-height: 45px;
    transition: all 0.2s ease;
    background-color: var(--white-color);
}

.login-button__text:focus{
    color: var(--text-color);
    border: solid 2px var(--border-focus-color);
}

.lable-transform{
    line-height: 20px;
    padding: 0 15px;
    transform: translate(-15px, -10px) scale(0.8);
    transition: all 0.2s ease;
    z-index:2;
}


.login-submit-button{
    border: solid 1px var(--border-color);
    height: 45px;
    border-radius: 4px;
    background-color: var(--dark-background-color);
    color: var(--white-color)
}

.login-submit__icon{
    color: var(--white-color);
}

.login-submit-button:hover{
    opacity: 0.9;
}

.login-question{
    color: var( --text-gray-color);
}

.login-signup__link{
    color: #647fa5;
    text-decoration-line: underline;
    cursor: pointer;
}

.img-beside{  
    object-fit: cover;
    z-index: 1;
}

.login-img-beside{
    position: absolute;
    z-index: 1;
}

.login-image--wrapper{
    margin: 14px;
    border-radius: 15px;
    background-color: #4353f0;
}

.error-message{
    font-size: 12px;
    color:red;
}

.error{
    border-color: red;
}

.forgot-password-wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;  
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fp__wrapper{
    display: flex;
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 8px;
    padding: 10px 30px;
}

.fp__title{
    font-size: 22px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    color: var(--text-color);
    margin-top: 30px;
}

.fp__message{
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    color: var(--text-light-color);

}

.fp__input--wrapper{
    display: flex;
    position: relative;
    width: 100%;
    overflow: visible;
    margin-top: 20px;
}


.fp__input{
    outline: none;
    border: solid 1px var(--border-color);
    border-radius: 8px;
    height: 45px;
    width: 100%;
    font-size: 13px;
    padding-left: 40px;
    transition: all 0.5s ease;
}

.fp__input:focus{
    border-color: var(--primary-color);
}

.fp__image{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

.fp__btn{
    height: 45px;
    background-color: var(--dark-background-color);
    color: var(--white-color);
    width: 100%;
    border-radius: 8px;
    outline: none;
}

.fp__btn.back-to-login{
    color: var(--text-color);
    background-color: var( --background-hover-color);
    border:none;
}

.fp__btn:hover{
    opacity: 0.9;
}

.fp__error{
    width: 100%;
    text-align: left;
    font-size: 12px;
    color: red;
    margin-top: 5px;
    padding-left: 5px;
}


.fp__done--wrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 4px 13px rgb(0 0 0 / 20%);
    padding: 0 30px;
}